
.AccountMenu {
    transition: 0.5s;
    border: 1px solid lightgrey;
    background-color: #333;
    color: white;
}

.AccountMenu-Enable {
    width: 20%;
}

.AccountMenu-Disable {
    width: 0;
    font-size: 0;
}

.AccountMenu-Disable>* {
    display: none;
}

.AccountMenu a {
    text-decoration: none;
    color: black;
}