

.BankAccountsWeb {

}

.BankAccountsWeb-List {
    border: 2px solid transparent;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}

.BankAccountsWeb-Header {
    margin: 10px 20px 10px 20px;
}

.BankAccountItem {
    margin: 10px 20px 10px 40px;
}

.BankAccountCreateWeb {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.BankAccountCreateWeb-Close {
    position: absolute;
    right: 10px;
}

.BankAccount-Balance {
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px;
    width: 120px;
    text-align: right;
}

