
.StandardButton {
    margin: 5px;
    box-shadow: 0px 2px 4px 0px grey;
    border-radius: 5px;
  }

.Delete-Button {
    background-color: red;
    margin: 5px;
    height: 30px;
}

.Delete-Button:hover {
    background-color: rgb(255, 50, 50);
}

.Delete-Button:active {
    background-color: rgb(220, 0, 0);
}