

.Menu {
    display: flex;
    flex-wrap: wrap;
}

.links-styles {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
}

.links-styles:hover {
    background-color: grey;
}

.links-styles:active {
    background-color: darkslategrey;
}

.links-styles:visited {
    color: white;
}

.Menu-create-transaction {
    margin-right: 30px;
    position: absolute;
    right: 0;
    background-color: green;
}