
.TransactionsWeb {

}

.TransactionsWeb-List {
    width: 60%;
    border-radius: 5px;
    margin: 20px auto;
    background-color: white;
    overflow-x: auto;
    padding: 20px;

}

.TransactionWeb-Header {
    margin: 10px 20px 10px 20px;
}

.TransactionItem {
    margin: 5px;
}


.TransactionItem label {
    display: inline-block;
    margin: 0px 2px 0px 2px; /* TOP RIGHT BOTTOM LEFT */
}

.TransactionCreateWeb {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.TransactionCreateWeb-Close {
    position: absolute;
    right: 10px;
}

.Menu-create-transaction {
    margin-right: 30px;
    background-color: green;
    float: right;
}

.FilterBox {
    width: 100px;
    height: 30px;
    font-size: 20px;
    border-radius: 7px;
}