
.TransactionsWeb {

}

.TransactionsWeb-List {
    width: 60%;
    border-radius: 5px;
    margin: 20px auto;
    background-color: white;
    

}

.TransactionItem {
    margin: 10px 20px 10px 20px
}

.TransactionItem label {
    display: inline-block;
}

.Balance {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.TransactionCreateWeb {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.TransactionCreateWeb-Close {
    position: absolute;
    right: 10px;
}